Source: tern
Section: devel
Priority: optional
Maintainer: Jack Christensen <jack@jackchristensen.com>
Build-Depends: debhelper (>= 8.0.0), golang (>= 1.2)
Standards-Version: 3.9.4
Homepage: https://github.com/JackC/tern
Vcs-Git: https://github.com/JackC/tern.git
Vcs-Browser: https://github.com/JackC/tern

Package: tern
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PostgreSQL migration tool
 Tern is a standalone migration tool for PostgreSQL.
